body {
  background-color: var(--color-fondo-primario);
  height: 100vh;
  width: 100wh;
}

header {
  background-color: var(--color-fondo-terciario);
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  gap: 15px;
}

.busqueda_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  background-color: var(--color-fondo-primario);
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 5px;
}

#searchForm {
  display: flex;
  width: 100%;
}

.input_busqueda {
  border: none;
  outline: none;
  font-size: 1rem;
  margin-left: 5px;
}

.boton_busqueda {
  background-color: var(--color-boton);
  color: var(--color-boton-texto);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
  padding: 5px;
}

.boton_busqueda:hover {
  background-color: var(--color-boton-hover);
}

.boton_busqueda > i {
  width: 20px;
  height: 20px;
  stroke: var(--color-boton-texto);
}

.boton_anadir_plantilla,
.boton_anadir_jugador,
.boton_cerrar_sesion {
  background-color: var(--color-boton);
  color: var(--color-boton-texto);
  height: 45px;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-decoration: none;
}

.boton_anadir_plantilla:hover,
.boton_anadir_jugador:hover,
.boton_cerrar_sesion:hover {
  background-color: var(--color-boton-hover);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.boton_cerrar_sesion {
  position: absolute;
  right: 15px;
}

main {
  padding: 20px;
}

.header_dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_dashboard_logo {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 20px;
}

.header_dashboard_logo > img {
  width: 50px;
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.header_dashboard_text {
  display: flex;
  flex-direction: column;
}

.header_dashboard_text > h1 {
  font-weight: 600;
}

.header_dashboard_text > p {
  color: var(--color-subtitulo-primario);
}

.contadores {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.contadores > p {
  background-color: var(--color-fondo-contadores);
  padding: 5px 10px;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  color: var(--color-boton-texto);
}

hr {
  margin: 20px 0;
  background-color: var(--color-hr);
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.jugadores-list {
  border-right: 1px solid var(--color-hr);
  height: 100%;
  width: 100%;
}

.jugadores-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.jugador-card {
  background-color: var(--color-fondo-terciario);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 25px;
  gap: 10px;
  width: 100%;
  cursor: pointer;
}

.jugador-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-boton);
  color: var(--color-boton-texto);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.jugador-info {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.archivo-link {
  color: var(--color-boton);
  text-decoration: none;
}

.archivo-link:hover {
  text-decoration: underline;
}

.sin-archivo {
  color: var(--color-subtitulo-primario);
}

#mensajeJugador {
  margin: 10px;
}

.plantillas-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.plantillas-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.plantilla-card {
  background-color: var(--color-fondo-terciario);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 25px;
  gap: 10px;
  width: 100%;
  cursor: pointer;
}

.plantilla-info {
  color: var(--color-texto-primario);
}

.btn-descargar {
  background-color: var(--color-boton);
  color: var(--color-boton-texto);
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

footer {
  background-color: var(--color-fondo-terciario);
  color: var(--color-subtitulo-primario);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}